OclX/Examples/Functional/NotSchemaAware/TournamentsSchedule.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <!-- Generated by eXolutio on 9.4.2012 16:57 from tournaments/TournamentsSchedule. -->
  <!--Below follow constraints from OCL script 'choice'. -->
  <sch:pattern id="Tournament">
    <sch:rule context="/tournaments/tournament">
      <sch:let name="self" value="." />
      <!--self.qualification.choice_1.OpenTournament.open = True or self.qualification.choice_1.League.leagueName <> null-->
      <sch:assert test="xs:boolean(qualification/@open) eq true() or exists(qualification/@leagueName)">Tournament must be either open tournament or belong to a league</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="Tournament2">
    <sch:rule context="/tournaments/tournament">
      <sch:let name="self" value="." />
      <!--self.qualification.choice_1.OpenTournament.open = True or self.qualification.choice_1.League.leagueName <> null-->
      <sch:assert test="xs:boolean(qualification/@open) eq true() or exists(qualification/@leagueName)" />
    </sch:rule>
  </sch:pattern>
</sch:schema>