OclX/Examples/Functional/NotSchemaAware/TournamentApplication.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <!-- Generated by eXolutio on 9.4.2012 16:56 from tournaments/TournamentApplication. -->
  <!--Below follow constraints from OCL script 'defaultname'. -->
  <sch:pattern id="Tournament">
    <sch:rule context="/tournamentApplication">
      <sch:let name="self" value="." />
      <!--self.requiredQualificationPoints = null or self.player.points >= self.requiredQualificationPoints-->
      <sch:assert test="not(exists(xs:nonNegativeInteger(requiredQualificationPoints))) or xs:integer(player/points) ge xs:nonNegativeInteger(requiredQualificationPoints)">Participating players must meet the requirements of the tournament</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="Player">
    <sch:rule context="/tournamentApplication/player">
      <sch:let name="self" value="." />
      <!--self.playerLeague.name = self.Tournament.tournamentLeague.name-->
      <sch:assert test="playerLeague/name eq ../tournamentLeague/name">Leagues are not correct</sch:assert>
    </sch:rule>
  </sch:pattern>
</sch:schema>