SchematronTest/LastSchSchema.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <!-- Generated by eXolutio on 18.1.2012 9:57 from tournaments/MatchSchedule. -->
  <sch:pattern>
    <!--Below follow constraints from OCL script 'defaultname'. -->
    <sch:rule context="/tournament">
      <!--self.matches.day->Collect(d : Day | d.match)->forAll(m : Match | m.start.after(self.start) and m.end.before(self.end))-->
      <sch:assert test="oclX:forAll(oclX:collect(matches/day, 'd', '$d/match', $variables), 'm', 'oclDate:after($m/start, $self/start) and oclDate:before($m/end, $self/end)', oclX:vars(.))" />
    </sch:rule>
    <sch:rule context="/tournament">
      <!--self.matches.day->Collect(d : Day | d.match)->exists(m : Match | m.start = self.start)-->
      <sch:assert test="oclX:exists(oclX:collect(matches/day, 'd', '$d/match', $variables), 'm', '$m/start eq $self/start', oclX:vars(.))" />
    </sch:rule>
    <sch:rule context="/tournament/matches/day/match">
      <!--self.matchPlayers.player->forAll(p : MatchPlayer | p.MatchPlayers.Match.Day.Matches.Tournament.participatingPlayers.player->exists(px : Player | px.name = p.name))-->
      <sch:assert test="oclX:forAll(matchPlayers/player, 'p', 'oclX:exists($p/../../../../../participatingPlayers/player, ''px'', ''$px/name eq $p/name'', $variables)', oclX:vars(.))" />
    </sch:rule>
    <sch:rule context="/tournament">
      <!--self.start <= self.end-->
      <sch:assert test="start le end" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <!--Below follow constraints from OCL script 'defaultname'. -->
  </sch:pattern>
  <sch:pattern>
    <!--Below follow constraints from OCL script 'defaultname'. -->
    <sch:rule context="/tournament">
      <!--self.matches.day->forAll(d1 : Day, d2 : Day | d1 <> d2 implies d1.date <> d2.date)-->
      <sch:assert test="oclX:forAll(matches/day, 'd1', 'if ($d1 ne $d2) then $d1/date ne $d2/date else false()', oclX:vars(.))" />
    </sch:rule>
  </sch:pattern>
</sch:schema>