SchematronTest/LastSchSchema.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <!-- Generated by eXolutio on 13.3.2012 14:13 from Hierarchy/PSMSchema 1. -->
  <sch:pattern id="defaultname">
    <!--Below follow constraints from OCL script 'defaultname'. -->
    <sch:rule context="/company">
      <!--self.departments.department->closure(c : Department | c.subdepartments.department)->forAll(d : Set(Department) | d->collect(d : Department | d.subdepartments)->collect(s : Subdepartments | s.department)->size() < 5)-->
      <sch:assert test="oclX:forAll(oclX:closure(departments/department, function($c) { $c/subdepartments/department }), function($d) { count(oclX:collect(oclX:collect($d, function($d) { $d/subdepartments }), function($s) { $s/department })) lt 5 })" />
      <!--self.departments.department->closure(c : Department | c.subdepartments.department)->size() < 30-->
      <sch:assert test="count(oclX:closure(departments/department, function($c) { $c/subdepartments/department })) lt 30" />
    </sch:rule>
  </sch:pattern>
</sch:schema>