SchematronTest/LastSchSchema.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <!-- Generated by eXolutio on 6.3.2012 9:49 from tournaments/MatchSchedule. -->
  <sch:pattern id="collections">
    <!--Below follow constraints from OCL script 'collections'. -->
    <sch:rule context="/tournament">
      <!--self.matches.day->collect(d : Day | d.match)->forAll(m : Match | m.start.after(self.start) and m.end.before(self.end))-->
      <sch:assert test="every $m in matches/day/match satisfies oclDate:after($m/start, start) and oclDate:before($m/end, end)" />
    </sch:rule>
    <sch:rule context="/tournament">
      <!--self.matches.day->collect(d : Day | d.match)->exists(m : Match | m.start = self.start)-->
      <sch:assert test="some $m in matches/day/match satisfies $m/start eq start" />
    </sch:rule>
    <sch:rule context="/tournament/matches/day/match">
      <!--self.matchPlayers.player->forAll(p : MatchPlayer | p.MatchPlayers.Match.Day.Matches.Tournament.participatingPlayers.player->exists(px : Player | px.name = p.name))-->
      <sch:assert test="every $p in matchPlayers/player satisfies (some $px in $p/../../../../../participatingPlayers/player satisfies $px/name eq $p/name)" />
    </sch:rule>
    <sch:rule context="/tournament/participatingPlayers">
      <!--self.player->isUnique(p : Player | p.email)-->
      <sch:assert test="oclX:isUnique(player, function($p) { data($p/email) })" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="empty">
    <!--Below follow constraints from OCL script 'empty'. -->
  </sch:pattern>
  <sch:pattern id="days">
    <!--Below follow constraints from OCL script 'days'. -->
    <sch:rule context="/tournament">
      <!--self.matches.day->forAll(d1 : Day, d2 : Day | d1 <> d2 implies d1.date <> d2.date)-->
      <sch:assert test="oclX:forAllN(matches/day, function($d1, $d2) { if (not($d1 is $d2)) then $d1/date ne $d2/date else true() })" />
    </sch:rule>
    <sch:rule context="/tournament">
      <!--self.start <= self.end-->
      <sch:assert test="start le end" />
    </sch:rule>
  </sch:pattern>
</sch:schema>