SchematronTest/LastSchSchema.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <!-- Generated by eXolutio on 16.5.2012 23:32 from Hierarchy/CompanyHierarchy. -->
  <!--Below follow constraints from OCL script 'defaultname'. -->
  <sch:pattern id="Company">
    <sch:rule context="/company">
      <sch:let name="self" value="." />
      <!--Employees.allInstances().employee->isUnique(emp : Employee | emp.id)-->
      <sch:assert test="oclX:isUnique(//employees/employee, function($emp) { data($emp/id) })">Employee ids are unique</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="Department">
    <sch:rule context="company/departments/descendant::department">
      <sch:let name="d" value="." />
      <!--let count : integer = d.oclAsSet()->closure(sd : Department | sd.subdepartments.department)->collect(d : Department | d.employees)->collect(e : Employees | e.employee)->size() in d.interns.intern->size() > 0 implies count >= 3-->
      <sch:assert test="let $count := count(oclX:collect(oclX:collect(oclX:closure(., function($sd) { $sd/subdepartments/department }), function($d) { $d/employees }), function($e) { $e/employee })) return if (count(interns/intern) gt 0) then $count ge 3 else true()">Only departments with at least 3 employees can accept interns, department <sch:value-of select="$d/name" /> has only  employee(s)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="Employee" abstract="true">
    <sch:rule context="$e">
      <!--e.id > 0-->
      <sch:assert test="id gt 0" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="EmployeeI">
    <sch:rule context="//intern">
      <sch:let name="e" value="." />
      <!--e.Interns.Department <> null implies e.Interns.Department <> e.toEmployee().Employees.Department-->
      <sch:assert test="if (exists(../..)) then not(../.. is (let $e2 := . return (//manager | //employee)[./id = $e2/id])/parent::employees/..) else true()">Internship in home department is forbidden</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="Manager">
    <sch:rule context="//manager">
      <sch:let name="m" value="." />
      <!--m.Department.employees.employee->includes(m)-->
      <sch:assert test="oclX:includes(../employees/employee, .)" />
      <!--m.Department.employees.employee->collect(e : Employee | e.id)->includes(m.id)-->
      <sch:assert test="oclX:includes(oclX:collect(../employees/employee, function($e) { data($e/id) }), data(id))">Manager is an employee of its department</sch:assert>
      <!--m.phone <> null-->
      <sch:assert test="exists(phone)">Managers must state their phone numbers</sch:assert>
    </sch:rule>
  </sch:pattern>
  <!--instance pattern for PSMClass: "Manager"'s ancestor Employee-->
  <sch:pattern id="Manager-as-Employee" is-a="Employee">
    <sch:param name="e" value="//manager" />
  </sch:pattern>
  <!--instance pattern for PSMClass: "Employee"-->
  <sch:pattern id="Employee-as-Employee" is-a="Employee">
    <sch:param name="e" value="//employee" />
  </sch:pattern>
</sch:schema>