OclX/Examples/Dynamic/NotSchemaAware/TournamentApplication.sch

<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <!-- Generated by eXolutio on 19.2.2012 19:43 from tournaments/TournamentApplication. -->
  <sch:pattern id="defaultname">
    <!--Below follow constraints from OCL script 'defaultname'. -->
    <sch:rule context="/tournamentApplication">
      <!--self.requiredQualificationPoints = null or self.player.points >= self.requiredQualificationPoints-->
      <sch:assert test="not(exists(requiredQualificationPoints)) or xs:integer(player/points) ge xs:nonNegativeInteger(requiredQualificationPoints)" />
    </sch:rule>
    <sch:rule context="/tournamentApplication/player">
      <!--self.playerLeague.name = self.Tournament.tournamentLeague.name-->
      <sch:assert test="playerLeague/name eq ../tournamentLeague/name" />
    </sch:rule>
  </sch:pattern>
</sch:schema>