XSLTTest/LastSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- generated by eXolutio on 8.4.2012 17:47 from Hierarchy2/PSMSchema 1. -->
  <xs:element name="company" type="Company" />
  <xs:complexType name="Company">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="departments" type="Departments" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Departments">
    <xs:sequence>
      <xs:element name="department" type="Department" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Department">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="employees" type="Employees" />
      <xs:element name="manager" type="Manager" />
      <xs:element name="subdepartments" type="Subdepartments" />
      <xs:element name="interns" type="Interns" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Employees">
    <xs:sequence>
      <xs:element name="employee" type="Employee" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Manager">
    <xs:complexContent>
      <xs:extension base="Employee">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Subdepartments">
    <xs:sequence>
      <xs:element name="department" type="Department" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Interns">
    <xs:sequence>
      <xs:element name="intern" type="Employee" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string" />
      <xs:element name="lastName" type="xs:string" />
      <xs:element name="id" type="xs:integer" />
      <xs:element name="salary" type="xs:double" />
      <xs:element name="hired" type="xs:date" />
      <xs:element name="phone" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>