XSLTTest/LastSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- generated by eXolutio on 18.9.2011 13:48 from tournaments/TournamentApplication. -->
  <xs:element name="tournament-application" type="Tournament" />
  <xs:complexType name="Tournament">
    <xs:sequence>
      <xs:element name="name" />
      <xs:element name="requiredQualificationPoints" minOccurs="0" />
      <xs:element name="player" type="Player" />
      <xs:element name="tournament-league" type="League" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element name="points" type="xs:Integer" />
      <xs:element name="reg-no" minOccurs="0" />
      <xs:element name="email" type="xs:String" minOccurs="0" />
      <xs:element name="name" type="xs:String" />
      <xs:element name="representing-league" type="League" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="League">
    <xs:sequence>
      <xs:element name="name" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="League">
    <xs:sequence>
      <xs:element name="name" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>