XSLTTest/LastSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- generated by eXolutio on 4.3.2012 22:29 from Hierarchy2/PSMSchema 1. -->
  <xs:element name="company" type="Company" />
  <xs:complexType name="Company">
    <xs:sequence>
      <xs:element name="departments" type="Departments" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Departments">
    <xs:sequence>
      <xs:element name="department" type="Department" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Department">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="employees" type="Employees" />
      <xs:element name="subdepartments" type="Subdepartments" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Employees">
    <xs:sequence>
      <xs:element name="employee" type="Employee" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Subdepartments">
    <xs:sequence>
      <xs:element name="department" type="Department" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string" />
      <xs:element name="lastName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>