XSLTTest/LastSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- generated by eXolutio on 29.7.2011 16:29 from reorders/PSMSchema 1. -->
  <xs:element name="purchase" type="Purchase" />
  <xs:complexType name="Purchase">
    <xs:sequence>
      <xs:element name="item" type="Item" maxOccurs="unbounded" />
      <xs:element name="customer-info" type="CustomerInfo" />
    </xs:sequence>
    <xs:attribute name="purchase-date" />
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element name="product" type="Product" />
      <xs:group ref="ItemI-elm" />
    </xs:sequence>
    <xs:attributeGroup ref="ItemI-att" />
  </xs:complexType>
  <xs:complexType name="CustomerInfo">
    <xs:sequence>
      <xs:element name="address-d" type="Address" minOccurs="0" />
      <xs:element name="customer" type="Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element name="subcode" />
      <xs:element name="code" />
      <xs:element name="weight" />
      <xs:element name="title" />
      <xs:group ref="ArbitraryGroupNode-elm" minOccurs="2" maxOccurs="2" />
    </xs:sequence>
  </xs:complexType>
  <xs:group name="ItemI-elm">
    <xs:sequence>
      <xs:element name="unit-price" />
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="ItemI-att">
    <xs:attribute name="amountr" />
  </xs:attributeGroup>
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element name="city" />
      <xs:element name="zip" />
      <xs:element name="street" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element name="customer-no" />
      <xs:element name="email" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:group name="ArbitraryGroupNode-elm">
    <xs:sequence>
      <xs:element name="groupatt" />
      <xs:element name="child2" type="class2" minOccurs="3" maxOccurs="4" />
      <xs:element name="child1" type="class1" minOccurs="3" maxOccurs="4" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="class2">
    <xs:sequence>
      <xs:element name="nodeAttEr" />
    </xs:sequence>
    <xs:attribute name="nodeAttAr" />
  </xs:complexType>
  <xs:complexType name="class1">
    <xs:sequence />
    <xs:attribute name="a1" />
  </xs:complexType>
</xs:schema>