XSLTTest/LastSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- generated by eXolutio on 1.7.2012 22:23 from links-PSM-associations/PSMSchema 1. -->
  <xs:element name="C1" type="C1" />
  <xs:complexType name="C1">
    <xs:sequence>
      <xs:element name="a1" type="xs:string" />
      <xs:element name="C2" type="C2" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="C2">
    <xs:sequence>
      <xs:element name="a2" type="xs:integer" />
      <xs:element name="a3" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>