OclX/Examples/Dynamic/SchemaAware/MatchSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- generated by eXolutio on 21.1.2012 14:09 from tournaments/MatchSchedule. -->
  <xs:element name="tournament" type="Tournament" />
  <xs:complexType name="Tournament">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="start" type="xs:dateTime" />
      <xs:element name="end" type="xs:dateTime" />
      <xs:element name="matches" type="Matches" />
      <xs:element name="participatingPlayers" type="Players" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Matches">
    <xs:sequence>
      <xs:element name="day" type="Day" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Players">
    <xs:sequence>
      <xs:element name="player" type="Player" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Day">
    <xs:sequence>
      <xs:element name="date" type="xs:date" />
      <xs:element name="match" type="Match" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element name="start" type="xs:dateTime" />
      <xs:element name="end" type="xs:dateTime" />
      <xs:element name="matchPlayers" type="MatchPlayers" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MatchPlayers">
    <xs:sequence>
      <xs:element name="player" type="MatchPlayer" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MatchPlayer">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
