OclX/Examples/Dynamic/SchemaAware/TournamentApplicationSA.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <!-- Generated by eXolutio on 26.2.2012 8:59 from tournaments/TournamentApplication. -->
  <sch:pattern id="defaultname">
    <!--Below follow constraints from OCL script 'defaultname'. -->
    <sch:rule context="/tournamentApplication">
      <!--self.requiredQualificationPoints = null or self.player.points >= self.requiredQualificationPoints-->
      <sch:assert test="not(exists(requiredQualificationPoints)) or player/points ge requiredQualificationPoints" />
    </sch:rule>
    <sch:rule context="/tournamentApplication/player">
      <!--self.playerLeague.name = self.Tournament.tournamentLeague.name-->
      <sch:assert test="playerLeague/name eq ../tournamentLeague/name" />
    </sch:rule>
  </sch:pattern>
</sch:schema>