OclX/Examples/Dynamic/SchemaAware/TournamentsSchedule.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- generated by eXolutio on 26.2.2012 8:54 from tournaments/TournamentsSchedule. -->
  <xs:element name="tournaments" type="Tournaments" />
  <xs:complexType name="Tournaments">
    <xs:sequence>
      <xs:element name="tournament" type="Tournament" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Tournament">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="start" type="xs:date" />
      <xs:element name="end" type="xs:date" />
      <xs:element name="requiredQualificationPoints" type="xs:nonNegativeInteger" minOccurs="0" />
      <xs:element name="maxNumPlayers" type="xs:positiveInteger" />
      <xs:element name="qualification" type="Qualification" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Qualification">
    <xs:sequence>
      <xs:choice />
    </xs:sequence>
    <xs:attributeGroup ref="OpenTournament-att-opt" />
    <xs:attributeGroup ref="League-att-opt" />
  </xs:complexType>
  <xs:attributeGroup name="OpenTournament-att-opt">
    <xs:attribute name="open" type="xs:boolean" use="optional" />
  </xs:attributeGroup>
  <xs:attributeGroup name="League-att-opt">
    <xs:attribute name="leagueName" type="xs:string" use="optional" />
  </xs:attributeGroup>
</xs:schema>