Updater/Service References/UpdaterService/UpdaterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExeVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetExeVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExeVersionResult" type="tns:Version" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Version" />
      <s:element name="GetVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="file" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionResult" type="tns:Version" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="files" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetVersionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionsResult" type="tns:ArrayOfFileWithVersion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFileWithVersion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FileWithVersion" type="tns:FileWithVersion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FileWithVersion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="File" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MustReinstal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="files" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="versions" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MustReinstalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MustReinstalResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMsiUri">
        <s:complexType />
      </s:element>
      <s:element name="GetMsiUriResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMsiUriResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetExeVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetExeVersion" />
  </wsdl:message>
  <wsdl:message name="GetExeVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetExeVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersions" />
  </wsdl:message>
  <wsdl:message name="GetVersionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionsResponse" />
  </wsdl:message>
  <wsdl:message name="MustReinstalSoapIn">
    <wsdl:part name="parameters" element="tns:MustReinstal" />
  </wsdl:message>
  <wsdl:message name="MustReinstalSoapOut">
    <wsdl:part name="parameters" element="tns:MustReinstalResponse" />
  </wsdl:message>
  <wsdl:message name="GetMsiUriSoapIn">
    <wsdl:part name="parameters" element="tns:GetMsiUri" />
  </wsdl:message>
  <wsdl:message name="GetMsiUriSoapOut">
    <wsdl:part name="parameters" element="tns:GetMsiUriResponse" />
  </wsdl:message>
  <wsdl:portType name="UpdaterServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExeVersion">
      <wsdl:input message="tns:GetExeVersionSoapIn" />
      <wsdl:output message="tns:GetExeVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:input message="tns:GetVersionSoapIn" />
      <wsdl:output message="tns:GetVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersions">
      <wsdl:input message="tns:GetVersionsSoapIn" />
      <wsdl:output message="tns:GetVersionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MustReinstal">
      <wsdl:input message="tns:MustReinstalSoapIn" />
      <wsdl:output message="tns:MustReinstalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMsiUri">
      <wsdl:input message="tns:GetMsiUriSoapIn" />
      <wsdl:output message="tns:GetMsiUriSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdaterServiceSoap" type="tns:UpdaterServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExeVersion">
      <soap:operation soapAction="http://tempuri.org/GetExeVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://tempuri.org/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersions">
      <soap:operation soapAction="http://tempuri.org/GetVersions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MustReinstal">
      <soap:operation soapAction="http://tempuri.org/MustReinstal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMsiUri">
      <soap:operation soapAction="http://tempuri.org/GetMsiUri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdaterServiceSoap12" type="tns:UpdaterServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExeVersion">
      <soap12:operation soapAction="http://tempuri.org/GetExeVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://tempuri.org/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersions">
      <soap12:operation soapAction="http://tempuri.org/GetVersions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MustReinstal">
      <soap12:operation soapAction="http://tempuri.org/MustReinstal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMsiUri">
      <soap12:operation soapAction="http://tempuri.org/GetMsiUri" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdaterService">
    <wsdl:port name="UpdaterServiceSoap" binding="tns:UpdaterServiceSoap">
      <soap:address location="http://localhost:2217/UpdaterService.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdaterServiceSoap12" binding="tns:UpdaterServiceSoap12">
      <soap12:address location="http://localhost:2217/UpdaterService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>